/* MIX */
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
.list-inline {
  list-style: none;
}
.list-inline  li {
  display: inline-block;
}
.container-1024 {
  max-width: 1024px;
  margin: auto;
}
.text-center {
  text-align: center;
}
.text-20 {
  font-size: 1.25rem;
}
.text-48 {
  font-size: 3rem;
}
.regular {
  font-weight: 400;
}
.m-top-50 {
  margin-top: 50px;
}


/* HEADER */

/* header top */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  padding: 0 10px;
  background-color: #fff;
  line-height: 70px;
  font-size: 0.7rem;
}

.logo {
  height: 12px;
}

.main-menu {
  text-align: right;
}
.main-menu li {
  padding-right: 30px;
}
.main-menu li a {
  color: #000;
}

.side-menu {
  text-align: right;
}

.btn {
  padding: 10px 20px;
  margin-left: 15px;
  background-color: #000;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
}

.hamburger-icon {
  float: right;
  line-height: 70px;
  font-size: 1.4rem;
}

/* Hero */
.hero {
  position: relative;
  height: 625px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #fff;
}
.logo-store {
  height: 50px;
}
.hero a {
  margin: 0 18px;
}
.hero h1 {
  font-size: 3rem;
}
.hero h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 16px 0 32px;
}

/* /HEADER */

/* MAIN */

/* Product-section */
.product-section {
  padding: 80px 0;
}
.helb-go, .helb-bike {
  float: left;
  width: 48%;
  background-color: #FAFAFA;
  padding: 80px 40px;
}
.helb-bike {
  margin-left: 4%;
}
.logo-product {
  width: 192px;
}
.img-product {
  height: 340px;
}
.product-section h3 {
  font-weight: 400;
  margin: 32px 0;
}
.text-blue {
  color: #0070c8;
}

/* Instruction-section */
.instruction-section .banner {
  height: 400px;
  background-image: url(../img/index-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 192px;
}
.instruction-section img {
  width: 256px;
}
.instruction-section h2 {
  font-size: 2.25rem;
  margin-top: 50px;
}
.instruction-section h3 {
  margin-bottom: 10px;
}
.instruction-section [class*="col-"] {
  padding: 10px;
}

/* Info-section */
.text-white {
  color: #fff;
}
.h-500 {
  height: 500px;
}
.relative {
  position: relative;
}
.info-section {
  margin-top: 200px;
}
.info-section .smart {
  height: 500px;
  background-image: url(../img/scooter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.info-section .write {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.info-section .write p {
  margin: 32px 0;
}
/* /MAIN */

/* RESPONSIVE TABLET 769 - 992 PIXEL */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .product-section .img-product {
    width: 312px;
    height: auto;
  }

  .instruction-section .banner {
    background-position: 25%;
  }

  .info-section .write h2 {
    font-size: 2.25rem;
  }
  .info-section .container {
    max-width: 780px;
  }
}
/* /RESPONSIVE TABLET 769 - 992 PIXEL */

/* RESPONSIVE SMARTPHONE < 768 PIXEL */
@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .product-section .helb-go, .product-section .helb-bike {
    width: 100%;
    margin: 0;
  }

  .product-section .img-product {
    width: 80%;
    height: auto;
  }

  .instruction-section .banner{
    background-position: 20%;
  }

  .instruction-section h2 {
    margin-top: 350px;
  }
  .info-section .write {
    width: 50%;
  }
  .info-section .write h2 {
    font-size: 2.25rem;
  }
}
/* /RESPONSIVE SMARTPHONE < 768 PIXEL */
